<html>
<head>
    <title>Teste Blog</title>
</head>
<body>
    <div>
        <h1><a href="/">Primeiro Blog</a></h1>
    </div>

    <!-- <div>
        <p>published: 03.29.2016, 19:13</p>
        <h2><a href="">Lorem ipsum</a></h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eu arcu magna. Aliquam malesuada enim ut diam dictum pulvinar. Sed tincidunt, turpis non varius ornare, eros nulla sollicitudin arcu, quis convallis magna felis eget felis. Nunc ipsum ipsum, tempus quis leo a, tincidunt tincidunt metus. Quisque et elit finibus, viverra elit mattis, elementum ante. Nulla hendrerit nunc quis erat luctus iaculis. Sed feugiat porttitor ex eget congue.</p>
    </div>

    <div>
        <p>published: 03.29.2016, 19:15</p>
        <h2><a href="">Aenean commodo nunc</a></h2>
        <p>Aenean commodo nunc mauris, vitae lacinia magna pretium in. Quisque auctor quis justo vel pharetra. In eget semper erat, sit amet finibus neque. Fusce congue tellus eget dapibus convallis. Vestibulum congue ante nec metus scelerisque, at consectetur ipsum efficitur. Pellentesque mattis magna at justo pharetra, ac pharetra ex egestas. Nulla ultrices dolor ac leo volutpat feugiat.</p>
    </div> -->

    <!-- <div class="">
        {% for post in posts %}
            {{ post }}
        {% endfor %}
    </div> -->

    {% for post in posts %}
        <div class="">
            <p>
                published: {{ post.published_date }}
            </p>
            <h1>
                <a href="">{{ post.title }}</a>
            </h1>
            <p>
                {{ post.text|linebreaks }}
            </p>
        </div>
    {% endfor %}
</body>
</html>
